body{
    background-color: rgb(20, 108, 148);
    align-content: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: black;
    border-radius:10px ;
    padding: 20px;
}input{
    height: 90px;
    width: 80px;
    border-radius: 5px;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}.value{
    border: solid white;
    border-radius: 5px;
    background-color: black;
    width: 95%;  
    font-size: px;
    color: white;
}.equal{
    width: 174px;
}